 <nav class="nav has-shadow" >
    <div class="nav-left">
      <a class="nav-item is-tab" to="/dashboard">
        Dashboard
      </a>
    </div>
    <div class="nav-right">    
     <div class="field level-right">
         Welcome &nbsp; <b> {{ user?.username }} </b> &nbsp;
      </div>
    </div>
 </nav>
 <section class="section">
 <div class="field">
            <p class="control">
                <button  class="button" (click)="back()">Back</button>
            </p>
</div>
 </section>


 
